@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Remove Up and Down arrow from Number TextField */
::-webkit-outer-spin-button {
  display: none;
  margin: 0;
}

::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}


li.pro-menu-item::marker{
  background: #1a2438,
}

::-webkit-calendar-picker-indicator {
  filter: invert(1)
          brightness(75%)
          sepia(100%)
          saturate(10000%)
          hue-rotate(180deg)
}